<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>

<body>
    <div class="container">
        <h1 style="background-color: red; color: chartreuse;border-radius: 20px 1px ;">About Us</h1>
        <h2 style="color: rgb(77, 248, 4);">There Are 4 Contributors of this Project</h2>
        <ul>
            <li>
                <h4>Darshan Kania</h4>
                <ul class="inner">
                    <li class="role">Thinker of Project</li>
                    <li class="role">Coordinator, Role Divider and Team Admin</li>
                    <li class="role">Designed Idea & Main Pages of Project</li>
                </ul>
            </li>
            <li>
                <h4>Maharsh Nayak</h4>
                <ul class="inner">
                    <li class="role">HTML Developer of This Website</li>
                    <li class="role">Logic Helping for Website</li>
                    <li class="role">Designed Idea for Pages</li>
                </ul>
            </li>
            <li>
                <h4>Suryadeep Gohil</h4>
                <ul class="inner">
                    <li class="role">Backend Developer</li>
                    <li class="role">Logic Builder</li>
                    <li class="role">Database Management</li>
                </ul>
            </li>
            <li>
                <h4>Parth Kacha</h4>
                <ul class="inner">
                    <li class="role">HTML and CSS Developer</li>
                    <li class="role">Idea Management</li>
                    <li class="role">HTML and CSS Reviewer</li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>