<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Captian Home page</title>
    <link rel="stylesheet" href="./home.css">
</head>

<body>
    <menu>
        <div class="Top_menu">
            <a href="" class="menu_links" id="Profile_link">Profile</a>&nbsp&nbsp&nbsp;
            <a href="/BMI" class="menu_links" id="BMI_Link">BMI</a>&nbsp&nbsp&nbsp;
            <a href="" class="menu_links" id="Calorie_link">Calorie</a>&nbsp&nbsp&nbsp;
            <a href="/" class="menu_links" id="SignOut_link">Sign Out</a>
        </div>
    </menu>
    <hr>

    <main>
        <div class="main">
            <h2 id="heading">Health Captain</h2>
            <div class="main_info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore accusantium excepturi
                    architecto atque praesentium fugit laudantium incidunt minus. Earum voluptatem cupiditate vel iste
                    maxime optio beatae odit corporis autem dolore, ex rerum quibusdam vero quos laboriosam voluptate
                    molestias quia suscipit accusantium eaque non nulla culpa error? Voluptas molestias aspernatur at
                    natus mollitia ut, tempore repudiandae placeat exercitationem eos id iusto deserunt accusantium,
                    iste architecto ea quos aliquam! Quod, eum ullam doloribus voluptate quasi tenetur quidem quam ipsam
                    a! Deleniti minus illum sunt magnam consectetur soluta ullam, totam nobis cumque ad laboriosam hic.
                    Dolore voluptatum autem quae consectetur minus hic veritatis placeat quis inventore, ab error
                    consequuntur nesciunt iste. Iusto hic explicabo natus cumque sapiente ab quam et nam voluptas
                    excepturi eum magnam eveniet non cupiditate dolore modi, ipsa maxime mollitia reprehenderit
                    laudantium nobis odit? Neque beatae amet, quasi expedita corrupti nulla illo hic architecto laborum
                    fugit nam cupiditate voluptatibus totam reiciendis dolores eum corporis consequuntur accusamus nemo
                    mollitia temporibus modi. Ut quis quisquam officiis ad a sequi rerum quo quasi delectus quas nemo
                    earum nesciunt error tempora, assumenda at natus, dolorem ipsam cupiditate quaerat autem? Facere
                    placeat qui architecto omnis fugiat perspiciatis accusamus pariatur aliquam, delectus quibusdam
                    temporibus perferendis?</p>
            </div>

            <div class="AboutUs"><a href="" id="AboutUs_link">About us</a></div>
        </div>
    </main>

    <br>
    <hr><br>
    <footer>
        <div class="footer">
            <div class="ContactUs"><a href="" id="ContactUs_link">Contact us</a></div>
            <p>&copy HealthCaptainTeam</p>
        </div>
    </footer>
</body>

</html>