<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Captain Profile Page</title>
    <link rel="stylesheet" type = "text/css" href="css/profile.css">
</head>

<body>

    <div class="container">
        <header class="heading">
            <h1>Profile</h1>
        </header>
        <hr>
        <div class="main-info">
            <div class="profile-pic">
                <img src="img/Default_profile_pic.png" alt="">
            </div>
            <div class="basic-info">
                <ul>
                    <li><strong>Name:</strong> <%=username %> </li>
                    <li><strong>Age:</strong> <%=age %></li>
                    <%if(weight!="0"){%>
                    <li><strong>Weight:</strong> <%=weight %> kg</li>
                    <% } else { %>
                    <li><strong>Weight:</strong> Not given (go to bmi page)</li>
                    <%}%>
                    <%if(height!="0"){%>
                    <li><strong>Height:</strong> <%=height %> cm</li>
                    <% } else { %>
                    <li><strong>Height:</strong> Not given (go to bmi page)</li>
                    <%}%>
                </ul>
            </div>
        </div>

        <div class="goal-info">
            <ul>
                <li><strong>Goal:</strong> Lose 5 kg</li>
                <li><strong>Current Progress:</strong> 2 kg lost</li>
            </ul>
        </div>

        <hr>
        <footer>
            <div class="footer">
                <p>
                    <a href="/home" class="links" id="home">Home Page</a><br>
                    <a href="/bmi" class="links" id="bmi">BMI Calculator</a><br><br>
                    &copy; 2024 Health Captain
                </p>
            </div>
        </footer>
    </div>

</body>

</html>