body {
    font-family: 'Arial', sans-serif;
    background-image: url(./signup.jpg);
    background-size: cover;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

menu {
    background-color: #07c6f69d;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu_links {
    text-decoration: none;
    color: rgb(235, 0, 82);
    padding: 10px;
    margin-right: 20px;
}

.menu_links:hover {
    background-color: #15ff09;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#heading {
    text-align: center;
    color: #f7ff09;
    background-color: rgb(8, 176, 247);
}

.main_info {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.main_info p {
    line-height: 1.3;
}

.AboutUs {
    margin-top: 20px;
}

.AboutUs a {
    color: #e609ff;
    text-decoration: none;
    font-weight: bold;
}

.AboutUs a:hover {
    color: rgb(17, 249, 32);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#ContactUs_link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

#ContactUs_link:hover {
    color: greenyellow;
}
