body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    background-image: url(../img/signup.jpg);
    background-size: cover;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
}

label {
    color: #555;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

input[type="date"] {
    width: calc(100% - 22px);
}

.gender {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.gender label {
    margin-right: 15px;
    font-size: 16px;
}

input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-radio {
    position: relative;
    margin-right: 15px;
    margin-left: 10px;
}

.radio-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 2px solid #3498db;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"]:checked+.radio-label {
    background-color: #3498db;
}

.gender-label {
    font-size: 16px;
    color: #555;
}

input[type="submit"] {
    background-color: #6c5ce7;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #4834d4;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

.signup a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}
