<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog page for Health caption</title>
    <link rel="stylesheet" href="./blog.css">
</head>
<body>
    
    <div class="main main2" >
        <div class="head">
            <h1>How much Physical activity do you need ?</h1>
        </div>
        <ul type="square">

            <h2 class="mhead">
                <li>
                    Fit in 150+
                 </li>
            </h2>
            
            <div>
                <p>
                    Get at least 150 minutes per week of moderate-intensity 
                    aerobic activity or 75 minutes per week of vigorous aerobic activity 
                    (or a combination of both), preferably spread throughout the week.
            </p>
                </div>


                <h2 class="mhead">
                    <li>
                        Move More, Sit Less
                     </li>
                </h2>
                
                <div>
                    <p>
                        Get up and move throughout the day.
                         Any activity is better than none. Even light-intensity activity
                          can offset the serious health risks of being sedentary.
                </p>
                    </div>                

                    <h2 class="mhead">
                        <li>
                            Add Intensity
                         </li>
                    </h2>
                    
                    <div>
                        <p>
                            Moderate to vigorous aerobic exercise is best.
                            Your heart will beat faster, and you'll breathe harder than normal.
                            As you get used to being more active, 
                            increase your time and/or intensity to get more benefits.
                    </p>
                        </div>  
                        <h2 class="mhead">
                            <li>
                                Add Muscle
                             </li>
                        </h2>
                        
                        <div>
                            <p>
                                Physical activity is one of the best ways to keep your body and brain healthy. 
                                It relieves stress, improves mood, gives you energy, 
                                helps with sleep and can lower your risk of chronic disease, 
                                including dementia and depression.
                        </p>
                            </div>  
        </ul>
    </div>


</body>
</html>